* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAV */
.navbar-brand {
  font-family: 'Rock Salt', cursive;
}

.navbar-brand:hover {
  text-decoration: underline hotpink;
}

.leah-button,
.nav-link:hover {
  background-color: #f7a8f8;
  color: black;
  /* filter: drop-shadow(0 0 0.75rem hotpink);
  -webkit-filter: drop-shadow(0 0 0.75rem ); */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: .2rem .2rem hotpink;
  font-weight: bold;
  /* font-size: 1.3rem; */
}

.leah-button:hover,
.dropdown-item:hover {
  background-color: hotpink;
  color: white;
  filter: drop-shadow(0 0 0.75rem crimson);
  -webkit-filter: drop-shadow(0 0 0.75rem crimson);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

span {
  font-family: 'Rock Salt', cursive;
  text-decoration: underline hotpink;
}

/* MOVIE HEADER */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #feb8e6;
}

/* SCREENPLAY */

.screenplay {
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenplay-pdf {
  width: 100vw;
  height: 95vh;
}

/* MOVIE POSTER */

.movie-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: hotpink;
}

.movie-poster-image {
  width: 30vw;
}

.yellow {
  background-color: yellow;
}

/* PROJECTS */

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
  text-align:center;
  height: 80%;
  padding-bottom: 20px;
  background-color: #feb8e6;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  text-align:center;
  height: 100%;
  padding-bottom: 1rem;
  border-radius: .5rem;
  background-color: hotpink;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.card {
  background-color: cream;
  position: relative;
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card:hover {
  box-shadow: .3rem .2rem yellow;
}

.card-img-top {
  height: 35%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5rem;
}

.card-title {
  font-family: 'Rock Salt', cursive;
  line-height: 1.5rem;
}

.project-header {
  font-family: 'Rock Salt', cursive;
  margin: 5rem;
}

/* ABOUT */

.about-section {
  display: flex;
  flex-direction: column;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  grid-gap: 2rem;
  background-image: url('./images/griffith.jpg'); 
  margin-bottom: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  color: darkslategrey;
}

.table-read {
  padding: 5rem;
  background-color: #feb8e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a i {
  font-size: 3rem;
}

.social-image {
  width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-image {
  width: 60%;
  border: 
}

.description p {
  font-family: 'Josefin Sans', sans-serif;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .movie-poster-image {
    width: 60vw;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .table-image {
    width: 100%;
  }
  .screenplay {
    width: 95%;
  }
}