* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.screenplay-container {
  width: 100%;
}

.screenplay {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screenplay-pdf {
  width: 95vw;
  height: 95vh;
}

/* MOVIE POSTER */

.movie-poster {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hotpink;
}

.movie-poster-image {
  width: 30vw;
}